// .chart{
//    width: 80rem;
//    height: 5rem;
// }

.container{
   padding: 10px 2em;
}
.container-content{
  padding: 20px 2em;
  border:#111;
}
.title{
   text-align: center;
}
hr{
   width: 20rem;
   border: 1px solid #111;
}


@media (max-width: 768px) {
  .chart{
    width: 350px;
    height: 20rem;

  }
  .container{
    padding: 10px 0em !important;
  }
  .container-content{
    padding: 20px 2em;
    border:#111;
  }
   
}