
#map { 
  position: absolute; 
  top: 0;
  bottom: 4em;
  width: 100%;
}
.legend {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 20%;
}

*:nth-child(1) > .legend {
  background-color: #20d020;
}
*:nth-child(2) > .legend {
  background-color: #00ff00;
}
*:nth-child(3) > .legend {
  background-color: #abffab;
}

*:nth-child(4) > .legend {
  background-color: #bfab02;
}
*:nth-child(5) > .legend {
  background-color: #ffe512;
}
*:nth-child(6) > .legend {
  background-color: #fff38f;
}

*:nth-child(7) > .legend {
  background-color: #bd0303;
}
*:nth-child(8) > .legend {
  background-color: #ff1212;
}
*:nth-child(9) > .legend {
  background-color: #ff9696;
}


.quakeInfo {
  position: absolute;
  font-family: sans-serif;
  margin-top: 5px;
  margin-left: 5px;
  padding: 5px;
  width: 30%;
  border: 2px solid black;
  font-size: 14px;
  color: #222;
  background-color: #fff;
  border-radius: 3px;
  z-index: 9999;
}

